@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 25px;  
        left: 50%;

        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-home main h1 {
        font-size: 40px;
    }

    #page-home main p {
        font-size: 20px;
        line-height: 25px;

        margin-top: 20px;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
    #page-create-point .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }    
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px
    }
}