#modal {
    background-color: #0e0a14ef;

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}


#modal .content{
    color: white;

    width: 420px;
}

#modal a {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#modal .header a {
    background-image: url("../img/x.svg");

    width: 20px;
    height: 20px;

    display: flex;

    font-size: 0.01px;
}

#modal .header h1 {
    color: white;
}